<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="/static/home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <h1>Create User</h1>
        <form action="/users/" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="active">Active:</label>
            <input type="checkbox" id="active" name="active" checked>
            
            <button type="submit">Submit</button>
        </form>
    </div>

    
</body>
</html>